<% include partials/header %>

   <h1>
      <%= pageTitle %>
         <% if( pageTitle ) { %>
            <h1>
               <%= pageTitle %>
            </h1>
         <% } %>  
   </h1>
<% include partials/footer %>
