<% include partials/header %>
<div class="container">
  <h1 class="text-center">this is home page</h1>
  <a class="btn btn-primary" href="/register">sign up</a>
  <a class="btn btn-primary" href="/logout">logout</a>
  <a class="btn btn-primary" href="/login">login</a>
</div>
</div>

<% include partials/footer %>