<% include partials/header %>
<div class="container">
<h1 class="text-center">Create new ground</h1>
   <div class="row">
      <div class="col-6 offset-3">
      <form action="/campgrounds" method="POST">
         <input class="form-control" type="text" name="name" placeholder="name">
         <input class="form-control" type="text" name="image" placeholder="image url">
         <input class="form-control" type="text" name="description" placeholder="description">
         <input class="btn btn-outline-primary "type="submit">
      </form>
      <a href="/campgrounds">Go back</a>
      </div>
   </div>
</div>

<% include partials/footer %>