<% include partials/header %>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <form action="/register" method="POST">
        <input class="form-control" type="text" name="username" placeholder="username">  
        <input class="form-control" type="text" name="password" placeholder="password">
        <input class="btn btn-outline-primary btn-block" type="submit" value="submit">
      </form>    
    </div>



  </div>
      <a class="btn btn-primary" href="/register">sign up</a>
  <a class="btn btn-primary" href="/logout">logout</a>
  <a class="btn btn-primary" href="/login">login</a>
</div>
<% include partials/footer %>